
# Hoist tooling
public-hoist-pattern[]=@types*
public-hoist-pattern[]=vitest
public-hoist-pattern[]=vite
public-hoist-pattern[]=@vitejs/*
public-hoist-pattern[]=vue
public-hoist-pattern[]=@vue/*
public-hoist-pattern[]=playwright*


# Linting / formatting 
public-hoist-pattern[]=eslint*
public-hoist-pattern[]=@eslint/*
public-hoist-pattern[]=prettier
public-hoist-pattern[]=stylelint*
public-hoist-pattern[]=@stylelint/*


auto-install-peers=true
strict-peer-dependencies=false
prefer-frozen-lockfile=true
loglevel=warn
shamefully-hoist=false